body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-image: url(/apple-pie/images/apple-pie.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    padding-top: 50px;
    position: relative;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 200px;
    font-size: 80px;
}

.text-section { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    max-width: 900px;
    margin: auto;
    padding: 20px 10px;
    font-size: 20px;
}

hr {
    width: 900px;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.list li {
    list-style-type: none;
    padding-right: 400px; 
}

ul > li:before {
    content: "-";
    text-indent: -5px;
}
